.left-box {
    flex: 4;
    background: #3a3553;
    border-radius: 16px;
}

.right-box {
    flex: 1;
    background: #3a3553;
    border-radius: 16px;
}

.home-live {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 16px;
    gap: 12px;
}

.live-status {
    display: flex;
    align-items: center;
    gap: 12px;
    font-size: 14px;
    color: #d7d7ff;
}

.live-status button {
    background: #6a63ff;
    border: none;
    padding: 4px 10px;
    border-radius: 6px;
    color: white;
    cursor: pointer;
    font-size: 12px;
}

.live-status button:hover {
    background: #7b74ff;
}

.chat-menu {
    display: flex;
    gap: 6px;
}

.chat-type {
    background: #2b2a40;
    border: none;
    padding: 6px 12px;
    border-radius: 6px;
    color: #ddd;
    cursor: pointer;
    font-size: 13px;
}

.chat-type:hover {
    background: #3a3955;
}

.chat {
    flex: 1;
    background: #3f3d5c;
    border-radius: 14px;
    padding: 14px;
    overflow-y: auto;
    scrollbar-width: thin;
    min-height: 450px;
    max-height: 450px;
}

.chat-box {
    height: 100%;
    overflow-y: auto;

    display: flex;
    flex-direction: column;
    gap: 6px;

    padding: 6px;
}

.msg {
    padding: 6px 10px;
    border-radius: 8px;
    font-size: 14px;
    line-height: 1.4;
    color: #ffffff;
    word-break: break-word;
    white-space: pre-wrap;
}

.msg.weflab {
    background: rgba(34, 68, 255, 0.15);
    border-left: 4px solid #4a7dfe;
}

.msg.soop {
    background: rgba(80, 200, 255, 0.15);
    border-left: 4px solid #50c8ff;
}

.msg.chzzk {
    background: rgba(0, 255, 150, 0.15);
    border-left: 4px solid #00ff96;
}

.msg.donation {

}

.msg b {
    margin-right: 6px;
}

.chat-menu button.active {
    background: #605d8d;
}